body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link-2 {
  font-family: Inter, sans-serif;
}

.nav-link-3 {
  font-family: Inter, sans-serif;
}

.nav-link-4 {
  font-family: Inter, sans-serif;
}

.text-block {
  position: relative;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 19px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 0px;
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.text-block:hover {
  color: #818181;
}

.text-block.nav-link {
  font-family: Inter, sans-serif;
  font-weight: 700;
}

.text-block.nav-link:hover {
  color: #6e6e6e;
  text-decoration: none;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 38px 557px 70px 130px;
  padding: 5px 40px 28px 23px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 30px;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block {
  line-height: 20px;
}

.paragraph {
  margin-bottom: 2%;
  padding-right: 0px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.section {
  margin-right: 0px;
  margin-left: 0px;
  padding: 48px 16px;
}

.section.main-section {
  padding: 12% 4%;
}

.paragraph-2 {
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.paragraph-3 {
  font-size: 24px;
}

.check-out {
  padding: 4%;
}

.footer {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0% 0% 4%;
  color: #333;
}

.content {
  margin-bottom: 16px;
}

.paragraph-4 {
  height: auto;
  margin-bottom: 2%;
  font-family: Inter, sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}

.paragraph-5 {
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  color: #6e6e6e;
  font-size: 16px;
  text-decoration: none;
}

.paragraph-6 {
  font-size: 20px;
  font-weight: 500;
}

.paragraph-7 {
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  color: #6e6e6e;
  font-size: 16px;
}

.image {
  margin: 16px;
  padding-left: 0px;
}

.image-2 {
  margin: 16px;
}

.paragraph-8 {
  margin-bottom: 0%;
  font-family: Inter, sans-serif;
  font-size: 18px;
}

.image-3 {
  overflow: visible;
  margin-bottom: 5%;
  border-radius: 8px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.image-4 {
  margin-bottom: 5%;
  border-radius: 8px;
}

.paragraph-9 {
  margin-bottom: 2%;
  font-family: Inter, sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
}

.home-content {
  margin-bottom: 8%;
  padding: 0%;
}

.paragraph-10 {
  font-family: Inter, sans-serif;
  color: #8a8a8a;
  font-size: 14px;
}

.column {
  margin-bottom: 0px;
}

.paragraph-11 {
  margin-bottom: 2%;
  font-family: Inter, sans-serif;
  text-decoration: none;
}

.link-block {
  color: #333;
  text-decoration: none;
}

.link-block-2 {
  color: #333;
  text-decoration: none;
}

.container {
  padding-left: 0px;
}

.text-block-3 {
  font-family: Vollkorn, serif;
  font-size: 24px;
}

.bold-text {
  font-size: 32px;
  line-height: 40px;
}

.section-4 {
  margin: 4% 0% 2%;
}

.section-5 {
  margin: 4%;
}

.text-block-4 {
  margin-top: 2%;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.paragraph-12 {
  margin-bottom: 2%;
  font-family: Inter, sans-serif;
}

.paragraph-13 {
  margin-bottom: 0px;
  padding-right: 2%;
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.paragraph-13:hover {
  font-style: italic;
}

.paragraph-14 {
  margin-bottom: 0px;
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.paragraph-14:hover {
  font-style: italic;
}

.paragraph-15 {
  font-family: Inter, sans-serif;
  color: #8a8a8a;
  font-size: 14px;
}

.nav-link-5 {
  font-family: Inter, sans-serif;
}

.nav-link-6 {
  font-family: Inter, sans-serif;
}

.nav-link-7 {
  font-family: Inter, sans-serif;
}

.nav-link-8 {
  font-family: Inter, sans-serif;
}

.nav-link-9 {
  font-family: Inter, sans-serif;
}

.nav-link-9.w--current {
  font-family: Inter, sans-serif;
  color: #000;
  text-decoration: none;
}

.nav-link-10 {
  font-family: Inter, sans-serif;
}

.nav-link-11 {
  font-family: Inter, sans-serif;
}

.nav-link-12 {
  font-family: Inter, sans-serif;
}

.nav-link-13 {
  font-family: Inter, sans-serif;
}

.section-6 {
  margin: 0% 0% 8%;
}

.body {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.text-block-5 {
  margin-bottom: 1%;
  font-size: 16px;
  font-weight: 500;
}

.text-block-6 {
  margin-bottom: 1%;
  font-size: 16px;
  font-weight: 500;
}

.text-block-7 {
  margin-bottom: 1%;
  font-weight: 500;
}

.section-7 {
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 8%;
  padding: 0%;
  background-color: #fff;
}

.text-block-8 {
  font-family: Vollkorn, serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
}

.section-8 {
  margin: 0% 0% 8%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.text-block-9 {
  font-family: Vollkorn, serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.image-5 {
  max-width: 95%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.body-2 {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.body-3 {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.text-block-10 {
  font-family: Vollkorn, serif;
  font-size: 26px;
}

.paragraph-16 {
  position: static;
  margin-bottom: 4%;
  opacity: 1;
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
}

.column-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.about-section {
  margin-top: 4%;
  margin-bottom: 8%;
  padding-right: 0%;
  padding-left: 0%;
}

.link-2 {
  color: #333;
  text-decoration: none;
}

.link-3 {
  color: #333;
  text-decoration: none;
}

.paragraph-17 {
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.section-10 {
  padding: 4%;
  background-color: #fff;
}

.paragraph-18 {
  margin-bottom: 2%;
  font-family: Vollkorn, serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.div-block-2 {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border-style: dashed;
  border-width: 2px;
  border-color: #000;
  border-radius: 10px;
  text-align: left;
}

.paragraph-19 {
  font-weight: 500;
}

.section-11 {
  margin: 0% 0% 8%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.paragraph-20 {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  font-family: Vollkorn, serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.paragraph-21 {
  margin-bottom: 2%;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

.image-6 {
  max-width: 60%;
}

.columns {
  margin-top: 2%;
  margin-bottom: 4%;
}

.paragraph-22 {
  font-weight: 600;
}

.paragraph-23 {
  font-weight: 600;
}

.paragraph-24 {
  font-weight: 600;
}

.paragraph-25 {
  font-weight: 600;
}

.list {
  margin-bottom: 0px;
  line-height: 32px;
}

.list-item {
  line-height: 30px;
}

.div-block-3 {
  margin-bottom: 4%;
}

.div-block-4 {
  margin-bottom: 4%;
}

.div-block-5 {
  margin-bottom: 4%;
}

.section-12 {
  margin: 0% 0% 8%;
  padding: 0%;
  background-color: #fff;
}

.paragraph-26 {
  margin-bottom: 2%;
  font-family: Vollkorn, serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.container-2 {
  background-color: #fff;
}

.image-7 {
  max-width: 85%;
}

.image-8 {
  max-width: 85%;
}

.image-9 {
  max-width: 85%;
}

.paragraph-27 {
  font-family: Vollkorn, serif;
  font-weight: 400;
}

.div-block-6 {
  margin-top: 2%;
  margin-bottom: 4%;
  padding-top: 0%;
}

.user-flow {
  margin-bottom: 0%;
}

.section-13 {
  margin: 0% 0% 8%;
}

.html-embed {
  margin-top: 4%;
  margin-bottom: 0%;
  text-align: center;
}

.image-10 {
  max-width: 90%;
}

.columns-3 {
  margin-bottom: 4%;
}

.paragraph-28 {
  font-weight: 600;
}

.column-3 {
  font-family: Vollkorn, serif;
  font-weight: 400;
}

.paragraph-29 {
  font-size: 26px;
  line-height: 30px;
}

.paragraph-30 {
  margin-bottom: 4%;
}

.link-4 {
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.paragraph-31 {
  margin-bottom: 0px;
  font-family: Vollkorn, serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.body-4 {
  margin-bottom: 1%;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.image-11 {
  margin-top: 2%;
  margin-bottom: 4px;
}

.column-4 {
  padding-left: 40px;
}

.section-15 {
  margin-bottom: 8%;
  padding: 0%;
  background-color: #fff;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.paragraph-32 {
  margin-bottom: 2%;
  font-family: Vollkorn, serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.section-16 {
  margin-top: 0%;
  margin-bottom: 8%;
}

.image-12 {
  margin-top: 2%;
  margin-bottom: 0%;
}

.image-13 {
  max-width: 75%;
  border-radius: 9px;
  text-align: left;
}

.section-17 {
  margin-bottom: 8%;
  padding: 0%;
  background-color: #fff;
}

.section-18 {
  margin: 0% 0% 8%;
}

.text-block-11 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 20px;
  font-weight: 300;
}

.image-14 {
  max-width: 70%;
}

.image-15 {
  margin-top: 5%;
  margin-bottom: 0%;
}

.paragraph-33 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.text-block-12 {
  margin-bottom: 2%;
  font-weight: 300;
}

.image-16 {
  position: static;
  max-width: 100%;
  margin: 4% auto;
  text-align: left;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-8 {
  text-align: center;
}

.image-17 {
  max-width: 100%;
}

.image-18 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.text-block-13 {
  margin-top: 0%;
  margin-bottom: 2%;
  color: #a4b5ce;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 4px;
}

.text-block-14 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: Vollkorn, serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.text-block-15 {
  text-align: center;
}

.columns-4 {
  margin-top: 4%;
  margin-bottom: 2%;
}

.text-block-16 {
  margin-bottom: 4%;
  font-size: 18px;
  font-weight: 600;
}

.image-19 {
  max-width: 50%;
  border-radius: 20px;
}

.div-block-9 {
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

.image-20 {
  max-width: 60%;
  border: 1px none #000;
  border-radius: 20px;
  box-shadow: 1px 1px 15px -10px #000;
}

.div-block-10 {
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

.image-21 {
  border-radius: 20px;
  box-shadow: 1px 1px 15px -10px #000;
}

.div-block-11 {
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

.image-22 {
  border-radius: 20px;
  box-shadow: 1px 1px 15px -10px #000;
}

.div-block-12 {
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

.image-23 {
  border-radius: 20px;
  box-shadow: 1px 1px 15px -10px #000;
}

.div-block-13 {
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

.image-24 {
  border-radius: 20px;
  box-shadow: 1px 1px 15px -10px #000;
}

.div-block-14 {
  overflow: visible;
  margin-top: 50%;
  margin-bottom: 50%;
  padding-right: 12%;
  padding-left: 8%;
  -o-object-fit: fill;
  object-fit: fill;
}

.bold-text-2 {
  color: #333;
  text-decoration: underline;
}

.paragraph-34 {
  text-decoration: none;
}

.text-block-17 {
  margin-bottom: 2%;
  font-family: Inter, sans-serif;
  color: #a4b5ce;
  font-weight: 600;
  letter-spacing: 4px;
}

.paragraph-35 {
  margin-bottom: 2%;
}

.text-block-18 {
  margin-bottom: 2%;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
}

.div-block-15 {
  margin-bottom: 4%;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.d-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 450px;
  height: 450px;
  margin-bottom: 4%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 4px;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.d-img-wrapper {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.d-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  background-image: url('../images/Group-212.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.d-image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.d-image-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url('../images/credelection-thumb.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.d-image-2:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.div-block-17 {
  text-align: center;
}

.image-25 {
  margin-bottom: 8%;
  opacity: 0.73;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-19 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-right: 5%;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.image-26 {
  margin-top: 2%;
  margin-bottom: 0%;
}

.section-19 {
  margin-top: 4%;
  margin-bottom: 2%;
}

.div-block-20 {
  margin-top: 0%;
}

.div-block-21 {
  margin-top: 0%;
  margin-bottom: 8%;
}

.image-27 {
  margin-top: 2%;
  margin-bottom: 0%;
}

.paragraph-36 {
  margin-bottom: 6%;
}

.text-block-19 {
  margin-bottom: 1%;
  font-size: 18px;
  font-weight: 500;
}

.div-block-22 {
  margin-top: 4%;
  text-align: center;
}

.image-28 {
  max-width: 80%;
}

.div-block-23 {
  margin-top: 2%;
  margin-bottom: 0%;
  text-align: left;
}

.div-block-24 {
  margin-top: 6%;
  margin-bottom: 0%;
  text-align: center;
}

.div-block-25 {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

.image-29 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.image-30 {
  max-width: 80%;
}

.link-5 {
  color: #333;
  text-decoration: none;
}

.link-6 {
  color: #333;
  text-decoration: none;
}

.image-31 {
  max-width: 80%;
}

.div-block-26 {
  margin-top: 2%;
  text-align: center;
}

.text-block-20 {
  margin-bottom: 1%;
}

.div-block-27 {
  margin-bottom: 2%;
}

.div-block-28 {
  margin-top: 0%;
}

.div-block-29 {
  margin-top: 6%;
}

.paragraph-37 {
  margin-bottom: 0px;
}

.image-32 {
  max-width: 80%;
}

.div-block-30 {
  margin-top: 6%;
  margin-bottom: 0%;
  text-align: center;
}

.list-item-2 {
  margin-bottom: 1%;
}

.list-item-3 {
  margin-bottom: 1%;
}

.list-item-4 {
  margin-bottom: 1%;
}

.div-block-31 {
  margin-bottom: 8%;
}

.div-block-32 {
  margin-bottom: 0%;
}

.image-33 {
  max-width: 80%;
}

.div-block-33 {
  margin-top: 6%;
  text-align: center;
}

.brainstorming-td-block {
  margin-bottom: 8%;
}

.div-block-34 {
  margin-top: 2%;
  margin-bottom: 0%;
  text-align: center;
}

.image-34 {
  margin-top: 0%;
  margin-bottom: 0%;
}

.list-2 {
  margin-top: 2%;
  margin-bottom: 8%;
}

.paragraph-38 {
  margin-bottom: 0px;
}

.paragraph-39 {
  margin-bottom: 0px;
}

.image-35 {
  margin-top: 6%;
}

.paragraph-40 {
  margin-bottom: 0px;
}

.paragraph-41 {
  margin-bottom: 0px;
}

.div-block-35 {
  margin-bottom: 8%;
}

.paragraph-42 {
  margin-bottom: 4%;
}

.paragraph-43 {
  margin-bottom: 4%;
}

.paragraph-44 {
  margin-bottom: 0px;
}

.paragraph-45 {
  margin-bottom: 0px;
}

.image-36 {
  margin-bottom: 4%;
}

.div-block-36 {
  margin-bottom: 4%;
}

.image-37 {
  border-radius: 8px;
}

.image-38 {
  border-radius: 8px;
}

.paragraph-46 {
  margin-bottom: 0px;
}

.image-39 {
  margin-top: 4%;
}

.progress-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 9999;
  width: 100%;
  height: 8px;
  background-color: #a4b5ce;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.progress-indicator {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 9999;
  width: 100%;
  height: 8px;
  background-color: #658777;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.text-block-21 {
  margin-bottom: 2%;
  color: #69897a;
  font-weight: 600;
  letter-spacing: 4px;
}

.div-block-37 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.div-block-38 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.image-40 {
  width: 372px;
  height: 440px;
}

.link-7 {
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  color: #5581e7;
  font-weight: 500;
  text-decoration: none;
}

.link-7:hover {
  color: rgba(66, 104, 190, 0.65);
}

.paragraph-47 {
  margin-bottom: 4%;
  font-size: 18px;
  line-height: 24px;
}

.link-8 {
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  color: #5581e7;
  font-weight: 500;
  text-decoration: none;
}

.link-8:hover {
  color: rgba(66, 104, 190, 0.65);
}

.link-9 {
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  color: #5581e7;
  font-weight: 500;
  text-decoration: none;
}

.link-9:hover {
  color: rgba(66, 104, 190, 0.65);
}

.link-10 {
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  color: #5581e7;
  font-weight: 500;
  text-decoration: none;
}

.link-10:hover {
  color: rgba(66, 104, 190, 0.65);
}

.paragraph-48 {
  margin-bottom: 4%;
  font-size: 18px;
  line-height: 24px;
}

.paragraph-49 {
  font-size: 18px;
  line-height: 24px;
}

.nav-link-14 {
  color: #000;
}

.nav-link-14:hover {
  font-style: italic;
}

.nav-link-14.w--current {
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  color: #000;
}

.nav-link-14.w--current:hover {
  font-style: italic;
}

.link {
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  color: #818181;
  text-align: left;
}

.link-11 {
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.link-11:hover {
  color: #818181;
}

.link-12 {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.link-12:hover {
  color: #5f5f5f;
  font-weight: 600;
}

.image-41 {
  margin-bottom: 4%;
}

@media screen and (max-width: 991px) {
  .div-block-2 {
    margin-bottom: 4%;
  }

  .columns-2 {
    padding: 2%;
  }

  .div-block-6 {
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .image-10 {
    margin: 2% 0%;
  }

  .section-14 {
    background-color: #f2f0e9;
  }

  .columns-3 {
    margin-bottom: 4%;
  }

  .paragraph-28 {
    font-weight: 500;
  }

  .image-34 {
    margin-top: 2%;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .text-block.nav-link {
    border-top-width: 0px;
    text-decoration: none;
  }

  .footer {
    cursor: auto;
  }

  .section-4 {
    margin-top: 4%;
  }
}

