
   h1{
     font-family: 'Inter', serif;
     font-weight:700;
     font-size: 50px;
     color: #3c3c3c;
     padding-top:1%;
     padding-bottom:1%;
   }
   
   h2{
     font-family: 'Inter', sans-serif;
      font-weight: 400;
     font-size: 20px;
     padding:5px;
     color: #3c3c3c;
   }

   h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
       font-size: 36px;
       padding-top:5px;
       padding-bottom:5px;
       color: #3c3c3c;
   }

   h4{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
       font-size: 18px;
       padding-top:1%;
       padding-bottom:1%;
       color: #3c3c3c;
   }

   h5{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color:#666666;
   }

   h6{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #3c3c3c;
   }

   h7{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #3c3c3c;
    font-size:28px;
   }

   h8{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #3c3c3c;
    font-size:16px;
   }



 a{
   color:grey;
 
 }
 
 .b-navbar.b-navbar-brand {
    font-family: 'Inter', serif;
    font-size: 100px;
    font-weight:600;
    color: #3c3c3c;
}

.navbarcolor {
    margin-left:20px !important;
    margin-right:20px !important;
    margin-top:10px !important;
    margin-bottom:10px !important;
   }
   
   .brand{
     font-family: 'Inter', serif;
     font-weight: 700;
     font-size: 28px;
     color: #3c3c3c ;
   }
   
   .ml-auto{
     font-family: 'Inter', sans-serif;
   }

   .projects-below{
     margin-left:26%;
     margin-top:10%;
   }

   .td-container{
     padding:4%;
     margin-left:auto;
     margin-right:auto;
     margin-top:4%;
     border-radius: 10px;
     position: relative;
     width: 60%;
     height:50vh;
     overflow: hidden;
     background: white;

     line-height: 0;
     -webkit-column-count: 2;
     -webkit-column-gap:   50px;
     -moz-column-count:    2;
     -moz-column-gap:      50px;
     column-count:         2;
     column-gap:           50px;
     transition:all .5s ease;
     display: flex;
     
}

.upbudget-container{
  padding:4%;
  margin-left:auto;
  margin-right:auto;
  margin-top:4%;
  border-radius: 10px;
  position: relative;
  width: 60%;
  height:50vh;
  overflow: hidden;
  background: white;

  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap:   50px;
  -moz-column-count:    2;
  -moz-column-gap:      50px;
  column-count:         2;
  column-gap:           50px;
  transition:all .5s ease;
  display: flex;
}

.td-header{
margin-left:10%;
margin-right:10%;
margin-top:4%;
margin-bottom:2%;
height:100%;
overflow: none;
}

.td-thumbnail{
  width:100%;
  height:100%;
  margin-bottom:1%;
}

.td-body{
  background-color: #F0F6EC;
  
  margin-top:2%;
  margin-bottom:2%;
  padding:4%;
  overflow: none;
}

.td-body-text{
  padding-top:2%;
  padding-right:2%;
  padding-left:2%;
}

.td-body-text-indent{
  padding-right:2%;
  padding-left:2%;
  margin-bottom:2%;
}

.td-column{
  float:left;
  padding-right:4%;
  width:33%;
}

.td-column1{
  /* float:left; */
  width:50%;
}

.td-column2{
  /* float:left; */
  width:50%;
  margin-top:auto;
  margin-bottom:auto;
  padding-left:4%;
}

.td-row{
margin-top:2%;
margin-bottom:4%;
display: flex;
flex-direction: row;
}

.coordina-intro{
  margin-left:10%;
  margin-right:10%;
  margin-top:2%;
  margin-bottom:4%;
}

.coordina-problem-space{
  margin-left:10%;
  margin-right:10%;
  margin-top:2%;
  margin-bottom:4%;
}

.coordina-ps-1{
  margin-top:2%;
  margin-bottom:2%;
  padding:3%;
  width:100%;
  background-color:#F3F3F3;
}

.coordina-persona{
  margin-left:10%;
  margin-right:10%;
  margin-top:2%;
  margin-bottom:4%;
}

.persona-coordina-image{
  display:block;
  width:60%;
  height:30%;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  margin-bottom:2%;

}

.coordina-ideation{
  margin-left:10%;
  margin-right:10%;
  margin-top:2%;
  margin-bottom:4%;
}

.ideation-coordina-image{
  display:block;
  width:100%;
  height:30%;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  margin-bottom:2%;
}

.coordina-final-image{
  display:block;
  width:100%;
  height:30%;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  margin-bottom:2%;
}

.td-row1{
  display: flex; 
  height: 100%;
  width: 100%;
}

.talk-thumbnail{
  width:100%;
  height:100%;
  padding:2%;
  float:right;
}

    /* .td-container:before{
      content: "";
      display: block;
      padding-top: 25%;
      
  } */

   .td-container:hover{
    background: #F0F6EC; 
    }
  
    @media (max-width: 400px) {
     .td-container{
      width: 90%;
      height: 60vh;
      margin-bottom:20%;

      -moz-column-count:    1;
      -webkit-column-count: 1;
      column-count:         1;
     }
    }

    .upbudget-container:hover{
      background: #E1E4E8; 
      }
    
      @media (max-width: 400px) {
       .upbudget-container{
        width: 90%;
        height: 60vh;
        margin-bottom:20%;
  
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
       }
      }

   .welcome-container{
     text-align: left;
     padding-left: 10%;
     padding-top: 5%;
   }
   
  .illustrations{
    line-height: 0;
   
    -webkit-column-count: 2;
    -webkit-column-gap:   50px;
    -moz-column-count:    2;
    -moz-column-gap:      50px;
    column-count:         2;
    column-gap:           50px;
    padding-left:10%;
    padding-right:10%;
 }

 .illustrations img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 400px) {
  .illustrations {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

@media (max-width: 400px) {
  .previous{
  font-family: 'Inter', serif;
  padding:8px;
    font-size: 16px;
    font-weight:400;
    width: 100% !important;
    height:85px !important;
    background-color: #F5F5F5;
    color:grey;
    display: flex;
    flex-wrap: wrap;
  }
}

.previous{
  font-family: 'Inter', serif;
  padding:20px;
    font-size: 16px;
    font-weight:400;
    width: 100%;
    height:20%;
    background-color: #F5F5F5;
    color:grey;
}

.welcome{
 padding-right:16%;
 padding-top:14%;
}

.hello-column1{
  display: flex;
  flex-direction: row-reverse;
}

.hello-column2{
  padding-top:8%;
}

.hello{
  line-height: 0;
 
  -webkit-column-count: 2;
  -webkit-column-gap:   50px;
  -moz-column-count:    2;
  -moz-column-gap:      50px;
  column-count:         2;
  column-gap:           50px;
 
}

@media (max-width: 400px) {
  .welcome{
    padding:12%;
    width: max;
    height:max;
   }
}

@media (max-width: 400px) {
  .hello-column1{
    padding:8%;
  }
}

@media (max-width: 400px) {
  .hello {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.footer{
  line-height: 250%;
  font-family: 'Inter', serif;
  font-weight:500;
  padding:2%;
  margin-top:4%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F5F5F5;
  color: #3c3c3c;
  text-align: center;
}